.side {
  height: 40rem;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: absolute;
}

.fancy {
  font-family: "Permanent Marker", cursive;
  font-size: 1.2em;
  line-height: 0.6em;
 
 
}

.side .title {
  color: white;
  font-weight: bolder;
  font-family: "Rubik", sans-serif;
  font-size: 5vw;
  margin: 0px 15vw;
  width: 70vw;

}

#left-side {
  background-color: black;

  z-index: 2;
}

#right-side {
  background-color: #a3e635;
}
